<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="question"> <%= @question %> <br> -you </p>

  <p class="answer"> <%= @answer %> <br> -your coach </p>

  <%= link_to "wanna say something else", ask_path %>
</div>
