// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  width: 280px;
  border-left: 3px solid gray;
  padding: 5px;
  padding-left: 10px;
}

.answer {
  background-color: rgb(247, 247, 167);
}
